.story-container {
  position: relative; /* Changed to relative to work well with fixed child */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7; /* Light gray background color */
  background-image: url('../../Components/Assets/welcomePage1.jpg'); /* Add the background image */
  background-size: cover;
  background-position: center;
}

.story-top-row {
  position: fixed; /* Fixes the row at the top */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f7f7f7; /* Light gray background color */
  padding: 10px 0; /* Add some padding for spacing */
  z-index: 1000; /* Ensures it stays on top */
}

.story-item {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-title {
  font-size: 2em;
  color: #000;
  text-align: center;
  flex: 1;
}

.story-button {
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 0 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1rem;
  width: 150px; 
  height: 50px; 
}

.story-button.active {
  background-color: white;
  color: black;
}

.story-button:hover {
  color: black;
  background-color: white;
}

.story-button.quit {
  background-color: #dc3545;
}

.story-button:hover.quit {
  background-color: #c82333;
}

.story-left-text {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Optional: to make the text stand out against the background */
  padding: 20px;
  border-radius: 10px;
  max-width: 650px;
  font-size: 1.5em; /* Increase the font size */
}